<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Hızlı Satış Programı | Bilsoft Yazılım</title>

    <meta name="keywords" content=" " />
    <meta name="description" content="" />
    <meta name="publisher" content="" />
    <meta name="author" content="bilsoft" />
    <meta name="copyright" content="Bilsoft Yazılım" />
    <meta name="robots" content="index, follow" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:description" content="" />
    <meta property="og:type" content="yazılım" />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:title" content="Hızlı Satış Programı" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Hızlı Satışta ihtiyscınız olan her şey Bİlsoft'ta mevcut!" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <!-- <h1 class="text-light"><a href="#hero"><span>Bootslander</span></a></h1>-->
                <!-- Uncomment below if you prefer to use an image logo -->

                <a href="/HizliSatis/Index"><img src="~/Content/assets/img/gallery/Bilsoft_Logo.png" alt="" class=""></a>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a href="/HizliSatis/Index">Ana Sayfa</a></li>
                    <li><a href="Index#hizlisatis">Hızlı Satış</a></li>
                    <li><a href="/HizliSatis/Ozellikler">Özellikler</a></li>
                    <!--<li><a href="#gallery"></a></li>
                    <li><a href="#team"></a></li>-->
                    <li><a href="Index#pricing">Kampanyalar</a></li>
                    <li class="drop-down">
                        <a href="Index#details">Modüller</a>
                        <ul>
                            <li><a href="/HizliSatis/SiparisVeTeklif">Teklif Sipariş Modülü</a></li>
                            <li><a href="/HizliSatis/OtomatikYedekleme">Otomatik Yedekleme</a></li>
                            <li><a href="/HizliSatis/ExcelVeriAktarim">Excel Veri Aktarım Modülü</a></li>
                            <li><a href="/HizliSatis/StokSayim">Stok Sayım Modülü</a></li>
                            <li><a href="/HizliSatis/StokRiskLimiti">Stok Risk Limiti Modülü</a></li>
                        </ul>
                    </li>
                    <li><a href="Index#contact">İletişim</a></li>

                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
    @RenderBody()
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-3">
                        <div class="footer-info">
                            <h3>Bilsoft Yazılım Bilgisayar San Tic. Ltd. Şti. </h3>
                            <p class="pb-3"><em>Web yazılım, hosting, internet danışmanlık hizmetleri ve ticari yazılım hizmetleri vermektedir.</em></p>
                            <p>
                                <br>
                                <strong>Telefon:</strong> (0212) 912 24 26<br>
                                <strong>Email:</strong> bilgi@bilsoft.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="https://twitter.com/bilsoftyzlm" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="https://www.facebook.com/bilsoftyazilim/" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="https://www.instagram.com/bilsoftyazilim/" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="https://www.youtube.com/channel/UCswWwGeNRqRMYIVLF8YzqsQ/videos" class="google-plus"><i class="bx bxl-youtube"></i></a>
                                <a href="https://www.linkedin.com/company/bilsoftyazilim/mycompany/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-3 footer-links">
                        <h4>Modüller</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/HizliSatis/SiparisVeTeklif">Teklif Sipariş Modülü</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/HizliSatis/OtomatikYedekleme">Otomatik Yedekleme Modülü</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/HizliSatis/ExcelVeriAktarim">Excel Veri Aktarım Modülü</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/HizliSatis/StokSayim">Stok Sayım Modülü</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/HizliSatis/StokRiskLimiti">Stok Risk Limiti Modülü</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-3 footer-links">
                        <h4>Sayfa Linkleri</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/HizliSatis/Index">Ana Sayfa</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#about">Hakkında</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#features">Özellikler</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#pricing">Kampanyalar</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#details">Modüller</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <span>Hızlı Satış Programı</span>. Tüm Hakları Saklıdır | <strong><a href="https://www.bilsoft.com/">Bilsoft Yazılım </a></strong>| &nbsp;<a href="#" title="Kullanım Şartları">Çerez Politikası</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/Content/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Content/assets/vendor/counterup/counterup.min.js"></script>
    <script src="~/Content/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>

    @model HizliSatis4.Models.Email

    <script>
        $("form button.btn").on("click", function () {

            let mail = {
                "ad": $("input#ad").val(),
                "telefon": $("input#telefon").val(),
                "email": $("input#email").val(),
                "konu": $("input#konu").val(),
                "mesaj": $("textarea#mesaj").val(),
            };


            $.ajax({
                url: "@Url.Action("Index","HizliSatis")",
                type: "post",
                dataType: "JSON",
                data: mail,
                success: function (res) {
                    console.log(res)
                    if (res.IsSuccess) {

                    } else { }
                    for (var i = 0; i < 5; i++) {
                        $("form")[i].reset()
                    }

                },
                error: function () {

                }
            });

            return false;
        })

    </script>
</body>
</html>